<section class="hero">
    <div class="hero-content fade-in-up">
        <img src="../../../assets/logos/2.png" alt="Pegasuz Logo" class="logo">
        <h1 class="hero-title">Desarrollamos tu presencia online</h1>
        <p class="hero-subtitle">Soluciones web adaptadas a tus necesidades</p>
    </div>
</section>

<section class="intro fade-in-up">
    <div class="container">
        <img src="assets/illustration.png" alt="Intro Illustration" class="intro-image">
        <p class="intro-text">En <span class="brand-name">Pegasuz</span>, nos especializamos en crear sitios web únicos
            y funcionales que destacan y atraen a tus clientes. Olvídate de las frases de marketing vacías, aquí
            encuentras honestidad y calidad.</p>
    </div>
</section>