.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: var(--primary-color);
    color: #fff;
}

.navbar-brand .brand-name {
    font-family: 'Cocomat Pro', sans-serif;
    font-size: 1.5rem;
    color: #fff;
    text-decoration: none;
}

.navbar-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.navbar-links li {
    display: inline;
}

.navbar-links a {
    color: #fff;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

.navbar-links a.active {
    border-bottom: 2px solid var(--secondary-color);
}