<div class="sidebar collapsed">
    <button class="toggle-btn" (click)="toggleSidebar()">
        <i class="fa fa-chevron-right"></i>
    </button>
    <div class="sidebar-content">
        <div class="sidebar-logo">
            <img src="../../../assets/logos/logos-sinnom/4.png" alt="Logo">
            <span>Pegasuz</span>
        </div>
        <div class="sidebar-links">
            <a href="inicio"><i class="fa-solid fa-house"></i> <span>Inicio</span></a>
            <a href="nosotros"><i class="fa-solid fa-user"></i> <span>Nosotros</span></a>
            <a href="servicios"><i class="fa-solid fa-book"></i> <span>Servicios</span></a>
            <a href="portafolio"><i class="fa-solid fa-folder"></i> <span>Portafolio</span></a>
            <a href="contacto"><i class="fa-solid fa-envelope"></i> <span>Contacto</span></a>
        </div>
        <div class="sidebar-social">
            <a href="https://www.github.com" target="_blank"><i class="fa-brands fa-github"></i></a>
            <a href="https://www.instagram.com" target="_blank"><i class="fa-brands fa-square-instagram"></i></a>
            <a href="https://www.linkedin.com" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
        </div>
    </div>
</div>