.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: #fff;
    position: sticky;
    top: 0;
    z-index: 1000;
    transition: top 0.3s;
}

.navbar-logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.navbar-logo .brand-name {
    font-family: 'Cocomat Pro', sans-serif;
    font-size: 1.5rem;
    color: #fff;
    text-decoration: none;
}

.navbar-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.navbar-links.left {
    margin-right: auto;
}

.navbar-links.right {
    margin-left: auto;
}

.navbar-links li {
    display: inline;
}

.navbar-links a {
    color: #fff;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    position: relative;
}

.navbar-links a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background: var(--accent-color);
    left: 0;
    bottom: -5px;
    transition: width 0.3s;
}

.navbar-links a:hover::after,
.navbar-links a.active::after {
    width: 100%;
}

/* Navbar hide on scroll */
.hidden-navbar {
    top: -70px;
}