:root {
    --primary-color: #1e2123;
    /* Negro */
    --secondary-color: #e2e6e3;
    /* Blanco */
    --accent-color: #ff5e17;
    /* Naranja */
    --highlight-color: #06273f;
    /* Azul */
    --text-color: #333;
    --background-color: #fff;
    /* Fondo blanco */
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    color: var(--text-color);
    background-color: var(--background-color);
    line-height: 1.6;
}